[Unit]
Description=Change wallpaper periodically
After=wallpaper-daemon.service
Requisite=wallpaper-daemon.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=2m 30s

[Install]
WantedBy=graphical-session.target
