[Unit]
Description=Change wallpaper periodically
PartOf=graphical-session.target
After=wallpaper-daemon.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=1m

[Install]
WantedBy=wallpaper-daemon.service
