[Unit]
Description=Simple wallpaper Daemon
After=wayland-wm@Hyprland.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/swww-daemon

[Install]
WantedBy=graphical-session.target
