[submodule "local-hostings"]
	path = local-hostings
	url = git@github.com:JS-CodeGamer/local-hostings.git
[submodule ".local/share/app2unit"]
	path = .local/share/app2unit
	url = https://github.com/Vladimir-csp/app2unit
