// switch-events {
//       lid-close { spawn "lock-handler"; }
// }

overview {
    zoom 0.7
    workspace-shadow {
        off
    }
}

hotkey-overlay {
  skip-at-startup
}

spawn-at-startup "~/dev/bar/target/release/dropdown-bar"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

recent-windows {
  previews {
    max-scale 0.25
  }
  binds {
    Alt+Tab     { next-window scope="all"; }
    Alt+Shift+Tab   { previous-window scope="all"; }
    Alt+grave     { next-window filter="app-id"; }
    Alt+Shift+grave { previous-window filter="app-id"; }
  }
}

include "animations.kdl"
include "layout.kdl"
include "input.kdl"
include "output.kdl"
include "keybinds.kdl"
include "rules.kdl"
include "animations.kdl"
include optional=true "theme.kdl"
